/*
Common
***************************/

html,
body {
   height:100%;
   color: teal
   background-color: whitesmoke
    }

.content {
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.header {
    color: black;
    display: flex;
    margin-left: 8%;
    font-family: monospace;
    font-size: 25px;
}

/*
Post
**************************/

.post_form {
    padding: 20px 40px;
    border-bottom: 2px solid rgb(63, 11, 63);
}

.post_form input {
    width:70%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid rgb(63, 11, 63);
}

.post_form textarea {
    width: 70%;
    padding: 10px;
    border:2px solid rgb(63, 11, 63);
}

input#btn {
    BACKGROUND: #5a32d5d9;
    border-radius: 20%;
    width: 25%;
    position: relative;
    left: 250px;
}
#cancel button{
    padding: 9px 35px;
    background-color: red;
    border-radius: 20%;
}

.posts ul {
  padding:0;
}

.posts li {
    position: relative;
    display: flex;
    border: 1px solid #ccc;
    padding: 20px 40px;
    list-style: menu;
    background-color: antiquewhite;
}

.posts li .menu_icon {
    width:20px;
    position: absolute;
    right: 30px;
    top: 18px;
}

.posts li .menu{
    display: none ;
    position: absolute;
    top:40px;
    right: 15px;
    border: 1 solid #ccc;
    background-color: white;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 3px;

}

.posts li .menu a{
     text-decoration: none;
}

.posts li .logo {
    flex-basis: 15% ;
}

.posts li .logo img {
    width:60%;
}

.posts li .name_body {
    flex-basis: 85% ;
    font-weight:bold;

}

.post li .name_body .img {
    border-radius: 25%;
}

.posts li .name_body .name {
     font-weight: bold;
}


.posts li .name_body .datetime {
    color:yellowgreen;
}

@media screen and (max-width: 500px) {
    .posts li .name_body .name {
        font-size: 20px;
    }
}